* {
	box-sizing: border-box;
}

html, body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

/*
 * Cabecera
 */

#cabecera {
	padding: 30px;
	font-size: 20px;
}

#cabecera h1 {
	margin-bottom: 0;
}

/*
 * Contenedor
 */

#contenedor {
}

.clearfix {
	clear: both;
}

/*
 * Barra lateral
 */

#sidebar-left {
	width: 30%;
	padding: 30px;
	float: left;
}

@media (max-width: 600px) {
	#sidebar-left {
		width: 100%;
		float: none;
	}
}

#sidebar-left h3 {
	margin-top: 0;
}

#sidebar-left a, #sidebar-left a:visited {
	color: #7b1fa2;
	text-decoration: none;
} 

#sidebar-left a:hover {
	color: red;
	text-decoration: underline;
}

/*
 * Contenido
 */

#contenido {
	float: left;
	padding: 30px;
	width: 70%;
}

@media (max-width: 600px) {
	#contenido {
		width: 100%;
		float: none;
	}
}

#contenido h1 {
    margin-top: 0;
    font-weight: normal;
    font-size: 2em;
}

#contenido h3 {
	font-size: inherit;
}

/*
 * Perfiles
 */

.perfil {
    margin-bottom: 24px;
    padding: 16px;
    border: 1px solid 
    #ccc;
    border-radius: 10px;
}

.imagen-perfil {
    border-radius: 50%;
}

/*
 * Formulario
 */

fieldset {
	border: 1px solid black;
}

legend {
	color: #fff;
	background: #303030;
	border: 1px solid black;
	padding: 2px 6px;
} 

textarea {
	display: block;
	width: 100%;
	min-height: 150px;
    border: 1px solid #ccc;
    padding: 8px 16px;
    font-size: 0.9em;
    font-family: inherit;
}

input[type="text"], input[type="email"] {
    border: 1px solid #ccc;
    padding: 8px 16px;
    width: 100%;
    max-width: 300px;
    font-size: 0.9em;
    font-family: inherit;
}

/*
 * Formulario
 */

table {
	border-collapse: collapse;
	width: 100%;
	max-width: 700px;
}

table, th, td {
	border: 1px solid black;
}

th, td {
	padding: 10px;
	vertical-align: top;
	text-align: left;
}

/*
 * Bocetos
 */

 .boceto-item img {
    width: 100%;
    max-width: 450px;
}