/**
 * Estilos principales.
 *
 * @package awsw-gesi
 * Gesi
 * Aplicación de gestión de institutos de educación secundaria
 *
 * @author Andrés Ramiro Ramiro
 * @author Cintia María Herrera Arenas
 * @author Nicolás Pardina Popp
 * @author Pablo Román Morer Olmos
 * @author Juan Francisco Carrión Molina
 *
 * @version 0.0.2
 */

/*
 * Inicializaciones.
 */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	font-family: "Montserrat", sans-serif;
}

/*
 * Enlaces.
 */

a {
	text-decoration: none;
	color: #7b1fa2;
}

/*
 * Texto visible solo para lectores de pantalla.
 */

 .screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/*
 * Alineación con float.
 */

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clearfix {
	clear: both;
}

/*
 * Contenedores.
 */

.wrapper {
	max-width: 1000px;
	margin: 16px auto;
}

.container {
	padding: 16px 32px;
}

/* 
 * Distribución de grid principal.
 *
 * Inicializado a una distribución móvil.
 */

#master-grid-wrapper {
	display: grid;
	grid-template-areas: 
		"header"
		"user"
		"nav"
		"content"
		"sidebar"
		"ad"
		"footer";
}

#master-grid-header {
	grid-area: header;
	background-color: #fff;
}

#master-grid-user {
	grid-area: user;
	background-color: #fff;
}

#master-grid-content {
	grid-area: content;
	background-color: #fff;
}

#master-grid-nav {
	grid-area: nav;
	background-color: #fff;
}

#master-grid-side {
	grid-area: sidebar;
	background-color: #fff;
}

#master-grid-footer {
	grid-area: footer;
	background-color: #fff;
}

/* 
 * Distribución de grid principal.
 *
 * Breakpoint para espacio suficiente para dos columnas.
 */

@media (min-width: 500px) {
	#master-grid-wrapper {
		grid-template-columns: 1fr 3fr;
		grid-template-areas: 
			"header  user"
			"nav     nav"
			"content content"
			"sidebar sidebar"
			"footer  footer";
	}

	#master-grid-user ul {
		display: flex;
		justify-content: left;
	}

	#master-grid-nav ul {
		display: flex;
		justify-content: right;
	}
}

/* 
 * Distribución de grid principal.
 *
 * Breakpoint para espacio suficiente para tres columnas.
 */

@media (min-width: 700px) {
	#master-grid-wrapper {
		grid-template-columns: minmax(256px, 1fr) 4fr 1fr;
		grid-template-areas: 
			"header user    user"
			"nav    content sidebar"
			"nav    content sidebar"
			"nav    footer  footer";
		grid-template-rows: 65px auto auto 65px;		
		/*width: 100vw;*/
		min-height: 100vh;
	}

	#master-grid-nav ul {
		flex-direction: column;
	}
}

/*
 * Cabecera principal.
 */

#master-grid-header {
    padding: 19px;
    border-bottom: 1px solid #e8e8e8;
}

#master-grid-header #app-logo {
	vertical-align: middle;
	display: inline-block;
	margin-right: .5rem;	
}

#master-grid-header #app-logo img {
	display: block;
	width: 24px;
	height: 24px;
}

#master-grid-header #app-name {
	vertical-align: middle;
	display: inline-block;
	margin-right: 2rem;
}

#master-grid-header #app-name h1 {
	font-size: 1.5rem;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
}

/*
 * Menú de usuario
 */

#master-grid-user {
    padding: 22px 16px;
    border-bottom: 1px solid #e8e8e8;
}

#master-grid-user ul li {
	list-style: none;
}

#master-grid-user ul li a {
	display: block;
}

#master-grid-user .badge {
    display: block;
}

@media (min-width: 700px) {
	#master-grid-user ul {
		flex-direction: row;
		justify-content: right;
	}

	#master-grid-user ul li {
		margin-left: 24px;
		align-self: center;
	}

	#master-grid-user ul li a {
		line-height: 20px;
	}
}

/*
 * Menú principal
 */

#master-grid-nav ul li {
	padding: 10px 24px;
	list-style: none;
}

#master-grid-nav ul li:first-child {
	margin-top: 16px;
}

#master-grid-nav ul li:last-child {
	margin-bottom: 16px;
}

#master-grid-nav ul li.divider {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    margin: 8px 0;
}

#master-grid-nav ul li.link {
	padding: 0;
}

#master-grid-nav ul li.link a {
	display: block;
	padding: 10px 24px;
	border: none;
	font-size: .9em;
}

@media (min-width: 700px) {
	#master-grid-nav {
		border-right: 1px solid #e8e8e8;
	}
}

/*
 * Sidebar
 */

#master-grid-side {
	padding: 16px;
}

#master-grid-side ul {
    border-left: 1px solid #eee;
}

#master-grid-side ul li {
	margin: 8px;
	list-style: none;
}

/*
 * Pie
 */

#master-grid-footer {
	padding: 19px 32px;
	display: flex;
	flex-direction: row;
	font-size: .9em;
}

#master-grid-footer p {
	margin-right: 24px;
}

/*
 * Contenido principal
 */

#master-grid-content {
	padding: 64px;
}

#master-grid-content h1,
#master-grid-content h2,
#master-grid-content h3,
#master-grid-content h4,
#master-grid-content h5,
#master-grid-content h6 {
	font-weight: normal;
	letter-spacing: -1px;
	margin: 1.5rem 0 1rem;
}

#master-grid-content h1 {
    font-size: 2em;
}

#master-grid-content p {
	margin: 5px 0 10px;
}

#master-grid-content p a {
	border-bottom: 1px solid;
}

#master-grid-content .page-back-button a::before {
    content: "<";margin-right: .5em;
}

#master-grid-content .page-back-button a {
    border: none;
}

/*
 * Mecanismo de mensajes.
 */

#mensajes-wrapper {
    position: fixed;
    bottom: 32px;
    left: 32px;
	z-index: 1;
}

.mensaje {
    padding: 12px 20px;
    border-left: 10px solid;
        border-left-color: currentcolor;
    box-shadow: 0 4px 4px 0 rgba(60,64,67,0.302),0 8px 12px 6px rgba(60,64,67,0.149);
    background-color: #fff;
    border-radius: 6px;
    margin-top: 12px;
}

.mensaje.mensaje-error {
    border-color: #dc3545;
}

.mensaje.mensaje-exito {
	border-color: #28a745;
}

/*
 * Formularios.
 */

.form-group {
    margin-bottom: 1rem;
}

label {
	display: inline-block;
    margin-bottom: .5rem;
}

.form-control {
	font-family: inherit;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.form-control:disabled {
    background-color: #eee;
}

.btn {
	cursor: pointer;
	font-family: inherit;
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #7b1fa2;
    border: 1px solid #7b1fa2;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.default-form {
    background-color: #fff;
    max-width: 600px;
    padding: 48px 32px;
    border-radius: 8px;
    border: 1px solid #e1e3e6;
    margin: 0 auto;
}

.form-header {
    margin-bottom: 24px;
}

.form-note {
    margin-top: 24px;
}

.form-help {
    font-size: .8em;
    color: #666;
}

/*
 * Visualización de datos
 */

.data-field-wrapper {
	margin: 4px 0 8px;
}

.data-field {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    margin: 4px 8px 8px 0;
    display: inline-block;
}

.data-field .label {
    display: inline-block;
    background-color: #e8e8e8;
    padding: 6px 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.data-field .value {
    display: inline-block;
	padding: 6px 8px;
}

/*
 * Formulario de inicio de sesión.
 */

 #form-login {
    max-width: 400px;
    margin: 50px auto;
}

/*
 * Formulario de cierre de sesión.
 */

#form-logout {
    background: transparent;
    padding: 0;
    border: none;
    margin: 0;
    border-radius: 0;
}

#form-logout button {
	cursor: pointer;
    color: rgb(123, 31, 162);
    font-family: inherit;
    line-height: 20px;
    background: none;
    border: none;
    font-size: inherit;
    display: block;
}

/*
 * Formulario de creación de usuario
 */

@media (min-width: 700px) {
	#form-usuario-crear {
		max-width: 100%;
		display: grid;
		grid-template-columns: 50% 50%;
		grid-gap: 16px;
	}

	#form-usuario-crear .form-group {
		margin-bottom: 0;
	}

	#form-usuario-crear .form-actions {
		display: flex;
		justify-content: right;
		align-content: end;
	}
}

/*
 * Mensajes de secretaría.
 */

.mensaje-secretaria {
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
}

section.page-content .mensaje-secretaria p {
	text-indent: 0;
	margin-bottom: 0;
}

.mensaje-secretaria header {
    background-color: #eee;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 12px 24px;
}

.mensaje-secretaria section.content {
    padding: 12px 24px;
}

/*
 * Landing
 */

#landing-welcome {
	text-align: center;
}

#landing-welcome img {
	display: block;
	max-width: 600px;
	width: 100%;
	margin: 0 auto 4rem;
}

#landing-welcome h1 {
	margin-bottom: 2rem;
}

section.page-content #landing-welcome p {
	text-indent: 0;
	text-align: center;
	max-width: 600px;
	margin: 0 auto 2rem;
}

/*
 * Lista general
 */

.grid-table-row {
	display: grid;
}

.grid-table-row > div {
    border-bottom: 1px solid #e8e8e8;
    padding: 12px;
    font-size: .9em;
}

.grid-table-row > div:first-child {
	padding-left: 0;
}

.grid-table-row > div:last-child {
	padding-right: 0;
}

.grid-table-header .grid-table-row > div {
	font-weight: bold;
}

/*
 * Lista de usuarios
 */

 #usuarios-lista .grid-table-row {
    grid-template-columns: 100px auto 220px 200px;
}

/*
 * Lista de grupos
 */

#grupos-lista .grid-table-row {
    grid-template-columns: 40px 80px 120px auto 170px;
}

/*
 * Lista de grupos en la vista usuario admin ver
 */

#usuario-admin-ver-grupo-lista .grid-table-row {
    grid-template-columns: 70px auto 170px;
}

/*
 * Lista de asignaturas
 */

#asignaturas-admin-lista .grid-table-row {
    grid-template-columns: 40px 80px 120px auto 170px;
}

#asignaturas-mi-lista-est .grid-table-row {
    grid-template-columns: 50px auto 180px 80px;
}

#asignaturas-mi-lista-pd .grid-table-row {
    grid-template-columns: 50px auto 80px 80px;
}

/*
* Lista de asignaciones
*/

#asignacion-lista .grid-table-row{
	grid-template-columns: 120px 80px 120px auto 20px;
}

/*
 * Lista de asignaciones en la vista asignatura admin ver
 */

#asignatura-admin-ver-asignacion-lista .grid-table-row {
	grid-template-columns: 70px auto 300px 200px;
}

/*
 * Lista de asignaciones en la vista grupo admin ver
 */

#grupo-admin-ver-asignacion-lista .grid-table-row {
	grid-template-columns: 70px auto 300px 200px;
}

/*
 * Badges
 */

.badge {
	display: inline-block;
	padding: .25em .4em;
	font-size: 75%;
	line-height: 1;
	vertical-align: middle;
	border-radius: .25rem;
	background-color: #7b1fa2;
	color: #fff;
}