/**
 * Estilos principales.
 *
 * @package awsw-gesi
 * Gesi
 * Aplicación de gestión de institutos de educación secundaria
 *
 * @author Andrés Ramiro Ramiro
 * @author Nicolás Pardina Popp
 * @author Pablo Román Morer Olmos
 * @author Juan Francisco Carrión Molina
 *
 * @version 0.0.4-beta.01
 */

/**
 * Inicialización.
 */

*, html, body, header,footer, section, aside, div, ul, li, a, p, h1, h2, h3, h4, span, table, tr, td {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Ubuntu", "Helvetica", Arial, sans-serif;
    border-collapse: collapse;
}

.material-icons {
    display: inline-block;
    vertical-align: middle;
    font-weight: inherit;
    line-height: inherit;
    font-size: inherit;
}

/**
 * Side menu (menú lateral principal).
 */
 
#side-menu-wrapper {
    z-index: 1000;
    position: fixed;
    left: 0;
    width: 280px;
    height: 100%;
    transform: translateX(-280px);
    overflow-y: auto;
    background: #fff;
    box-shadow: 0 0 16px rgba(0,0,0,.28);
    transition: all 0.4s ease 0s;
}

#side-menu-wrapper.active {
    left: 280px;
    width: 280px;
    transition: all 0.4s ease 0s;
}

.side-menu-divider {
    border-top: 0;
    font-weight: bold;
}

#user-menu-mobile {
    display: none;
}

@media (max-width: 1024px) {
    #user-menu {
        display: none;
    }

    #user-menu-mobile {
        display: block;
    }
}


/**
 * Barra indicadora de carga.
 */

#loading-progress-bar {
    display: none;
    z-index: 9999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    margin:auto;
}

#loading-progress-bar > div{
    background-color: rgb(255, 255, 255);
    margin-top: 0;
    margin-left: -100%;
    animation-name: loading_progress_bar_animation;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    width: 100%;
    height: 2px;
}

@keyframes loading_progress_bar_animation {
    0% {
        margin-left:-100%;
    }

    100% {
        margin-left:100%;
    }
}

/**
 * Toasts.
 */

#toasts-container {
    min-width: 350px;
    z-index: 1051;
    position: fixed;
    bottom: 32px;
    left: 32px;
}

.type-indicator {
    border-radius: 50%;
    background-color: #999;
    width: 12px;
    height: 12px;
    margin-right: 1rem;
    display: inline-block;
}

.type-indicator.exito {
    background-color: #44c05d;
}

.type-indicator.error {
    background-color: #c45060;
}

/**
 * Formulario de cierre de sesión (menú de sesión de usuario).
 */

/*
 * Formulario de cierre de sesión.
 */

#form-logout {
    background: transparent;
    padding: 0;
    border: none;
    margin: 0;
    border-radius: 0;
}

#form-logout button {
    cursor: pointer;
    color: rgb(123, 31, 162);
    font-family: inherit;
    line-height: 20px;
    background: none;
    border: none;
    font-size: inherit;
    display: block;
    padding: .5rem 1rem;
}

/*
 * Horarios.
 */

.gesi-schedule {
    position: relative;
    width: calc(100% - 1.25em);
    margin-left: auto;
    margin-right: auto;
    max-width: 90rem;
}

.gesi-schedule__timeline {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 50px;
}

.gesi-schedule__timeline ul {
    list-style: none;
}

.gesi-schedule__timeline li {
    position: relative;
    height: 50px;
}

.gesi-schedule__timeline li::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    background: #ebebeb;
    width: calc(100% - 60px);
    left: 60px;
}

.gesi-schedule__events {
    width: calc(100% - 60px);
    margin-left: 60px;
    position: relative;
    z-index: 1;
}

.gesi-schedule__events ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
}

.gesi-schedule__column {
    flex-basis: 0;
    flex-grow: 1;
    border: 1px solid #ebebeb;
    margin-bottom: 0;
}

.gesi-schedule__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-bottom: 1px solid #ebebeb;
    padding: 0;
}

.gesi-schedule__column > ul {
    list-style: none;
    height: 950px;
    overflow: visible;
    padding: 0;
    position: relative;
    display: flex;
}

.gesi-schedule__event {
    float: left;
    position: absolute;
    z-index: 3;
    width: calc(100% + 2px);
    left: -1px;
    max-width: none;
    margin-right: 0;
}

.gesi-schedule__event a {
    display: block;
    height: 100%;
    text-decoration: none;
    padding: .75em;
    background: #588093;
    /*box-shadow: 0 10px 20px rgba(0,0,0,.1),inset 0 -3px 0 rgba(0,0,0,.2);*/
}

.gesi-schedule__time {
    color: #ffffff;
    opacity: .9;
    font-size: .8em;
    display: block;
}

.gesi-schedule__subject {
    color: #ffffff;
    opacity: .9;
    display: block;
}

.gesi-schedule__teacher {
    color: #ffffff;
    opacity: .9;
    font-size: .8em;
    display: block;
}


/*.gesi-schedule-full {
    display: block;
    width: 100%;
    border: 1px solid #777;
    border-radius: 4px;
}

.gesi-schedule-full__column {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #777;
}

.gesi-schedule-full__column:last-child {
    border-right: none;
}

.gesi-schedule-full__slot {
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    background-color: #777;
}

.gesi-schedule-full__slot .nombre {
    display: block;
    font-weight: bold;
    color: #fff;
}

.gesi-schedule-full__slot .franja {
    display: block;
    color: #fff;
}

.gesi-schedule-mini {
    display: block;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    border: 1px solid #777;
    border-radius: 4px;
}

.gesi-schedule-mini__column {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #777;
}

.gesi-schedule-mini__column:last-child {
    border-right: none;
}

.gesi-schedule-mini__slot {
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    background-color: #777;
}*/